<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jdbc</servlet-name>
        <servlet-class>jdbc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check</servlet-name>
        <servlet-class>Check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>DBS.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>DBS.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>as</servlet-name>
        <servlet-class>DBS.as</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hdfs</servlet-name>
        <servlet-class>DBS.hdfs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jdbc</servlet-name>
        <url-pattern>/jdbc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check</servlet-name>
        <url-pattern>/Check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>as</servlet-name>
        <url-pattern>/as</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hdfs</servlet-name>
        <url-pattern>/hdfs</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
